DOMAIN_NAME=sadoming.42.fr

MYSQL_DATABASE=wordpress
MYSQL_USER=sadoming

#Fill these with custom passwords before running the containers
#MYSQL_ROOT_PASSWORD=REPLACEME
#MYSQL_PASSWORD=REPLACEME

WORDPRESS_DB_HOST=mariadb
WORDPRESS_DB_PORT=3306
WORDPRESS_DB_NAME=${MYSQL_DATABASE}
WORDPRESS_DB_USER=${MYSQL_USER}
