# Domain
DOMAIN_NAME= #login.42.fr

# MariaDB Config
MYSQL_ROOT_PASSWORD= #-------
MYSQL_DATABASE= #-------
MYSQL_USER= #------- wpuser
MYSQL_PASSWORD= #-------

# WordPress Config
WORDPRESS_TITLE= #-------
WORDPRESS_DB_HOST= #------- mariadb
WORDPRESS_DB_NAME= #------- need to be the same as 'MYSQL_DATABASE'
WORDPRESS_DB_USER= #------- wpuser
WORDPRESS_DB_PASSWORD= #-------

# WordPress Admin
WORDPRESS_ADMIN_USER= #-------
WORDPRESS_ADMIN_PASSWORD= #-------
WORDPRESS_ADMIN_EMAIL= #-------
